@media screen and (max-width: 500px)  {
	.container-left {
		float: none;
		width: 100%;
	}

	.container-right{
		float: none;
		width: 100%;
	}

	body{
		font-size: 0;
	}

	tr{
	display: block;
    }
}